[Desktop Entry]
Name=Sysdig Docs
Comment=Launch Sysdig Docs
StartupWMClass=chrome-docs.sysdig.com__en_-Default
Icon=/home/dustin/.local/share/xdg-desktop-portal/icons/192x192/sysdig.png
#Exec=chromium --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode --app="https://docs.sysdig.com/en/"
Exec=chromium --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode "https://docs.sysdig.com/en/"
StartupNotify=true
Terminal=false
Type=Application
