[Desktop Entry]
Type=Application
Name=Salesforce
StartupWMClass=brave-sysdig.lightning.force.com__lightning_o_Account_list-Default
Comment=Launch Salesforce
Exec=brave --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode  --app="https://sysdig.lightning.force.com/lightning/o/Account/list?filterName=Recent" %U
Icon=/home/dustin/.local/share/xdg-desktop-portal/icons/192x192/salesforce.png
Terminal=false
Categories=Utility;
Keywords=CRM;Sales;