[Desktop Entry]
Type=Application
Name=Teams
StartupWMClass=msedge-teams.microsoft.com___-Default
Comment=Launch MS teams
Icon=/home/dustin/.local/share/xdg-desktop-portal/icons/192x192/teams.png
Exec=microsoft-edge-stable --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode  --app="https://teams.microsoft.com/_?tenantId=59762c14-55e8-4b58-806e-f6cc47d75b19#/conversations/19:318514e1-ec97-4413-8a15-57339c391460_6da49260-b434-400a-9e11-2ef1984f6708@unq.gbl.spaces?ctx=chat" %U
Terminal=false