# Secrets Directory
secrets/** filter=git-crypt diff=git-crypt
# SSH
home/modules/ssh/default.nix filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa_temp filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa_temp.pub filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa.base64 filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa.pub filter=git-crypt diff=git-crypt
home/modules/ssh/id_ed25519 filter=git-crypt diff=git-crypt
home/modules/ssh/id_ed25519_np filter=git-crypt diff=git-crypt
home/modules/ssh/id_ed25519.pub filter=git-crypt diff=git-crypt
home/modules/dracula/pro/dracula.zip filter=git-crypt diff=git-crypt
