# Fonts
# Git
home/modules/git/default.nix filter=git-crypt diff=git-crypt
# Syncthing
hosts/modules/syncthing/syncthing-gui-login.nix filter=git-crypt diff=git-crypt
# SSH
home/modules/ssh/default.nix filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa_temp filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa_temp.pub filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa.base64 filter=git-crypt diff=git-crypt
home/modules/ssh/id_rsa.pub filter=git-crypt diff=git-crypt
