tmp/examples
.Trash-1000
.shadowenv.d
modules/workstation/desktops/gnome/themes/dracula/pro/dracula.zip
modules/workstation/desktops/gnome/themes/dracula/Dracula.zip
modules/workstation/desktops/gnome/themes/dracula/Dracula-new.zip
modules/workstation/desktops/gnome/themes/dracula/pro/dracula.zip
modules/workstation/desktops/gnome/themes/dracula/dracula.zip
.spacedrive
rebuild-trace.log