# Secrets Directory
secrets/** filter=git-crypt diff=git-crypt
modules/workstation/desktops/gnome/themes/dracula/dracula.zip filter=git-crypt diff=git-crypt
modules/workstation/desktops/gnome/themes/dracula/Dracula-new.zip filter=git-crypt diff=git-crypt
modules/workstation/desktops/gnome/themes/dracula/pro/dracula.zip filter=git-crypt diff=git-crypt
