[Desktop Entry]
Type=Application
Name=Nixpkgs Search
StartupWMClass=msedge-search.nixos.org__packages-Default
Comment=Launch Nixpkgs Search
Icon=/home/dustin/.local/share/xdg-desktop-portal/icons/192x192/nix.png
Exec=microsoft-edge-stable --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode  --app="https://search.nixos.org/packages" %U
Terminal=false