[Desktop Entry]
Type=Application
Name=Sysdig Drive
StartupWMClass=chrome-drive.google.com__drive_u_1_my-drive-Default
Comment=Launch Sysdig Drive
Icon=/home/dustin/.local/share/xdg-desktop-portal/icons/192x192/drive.png
Exec=brave --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode  --app="https://drive.google.com/drive/u/1/my-drive" %U
Terminal=false