[Desktop Entry]
Name=Reboot
Comment=Reboot the computer
Exec=sudo systemctl reboot
Icon=system-reboot
Terminal=false
Type=Application
Categories=System;
