[Desktop Entry]
Name=Sleep/Hibernate
Comment=Put the computer to sleep or hibernate
Exec=systemctl suspend
Icon=system-suspend
Terminal=false
Type=Application
Categories=System;
