[Desktop Entry]
Type=Application
Name=Syncthing
StartupWMClass=chrome-localhost__-Default
Comment=Launch Syncthing Web UI
Icon=/home/dustin/.local/share/xdg-desktop-portal/icons/192x192/syncthing.png
Exec=chromium --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode --app="http://localhost:8384" %U

Terminal=false