[Desktop Entry]
Version=1.0
Type=Application
Name=Beeper
Comment=Instant Messaging Application
Exec=appimage-run /home/dustin/Documents/appImages/beeper-3.84.18-build-23103121gj5tif6.AppImage
Icon=/home/dustin/dev/nix/nixos-cfg/user/desktop-files/Beeper-Logo.png
Categories=Network;InstantMessaging;
Terminal=false
