[Desktop Entry]
Version=1.0
Type=Application
Name=Beeper
Comment=Instant Messaging Application
Exec=appimage-run /home/dustin/Documents/appImages/beeper-3.85.17-build-231109zg8yl8v6s.AppImage
Icon=/home/dustin/dev/nix/nixos/home/modules/desktop-files/Beeper-Logo.png
Categories=Network;InstantMessaging;
Terminal=false
