[Desktop Entry]
Name=Reboot to Firmware
Comment=Reboot the computer and enter firmware (UEFI/BIOS) setup
Exec=systemctl reboot --firmware-setup
Icon=system-reboot
Terminal=false
Type=Application
Categories=System;
