[Desktop Entry]
Version=1.0
Type=Application
Name=Todoist
Comment=Task Mgmt Application
Exec=appimage-run /home/dustin/Documents/appImages/Todoist-linux-8.17.3-x86_64.AppImage
Icon=/home/dustin/dev/nix/nixos/home/modules/desktop-files/Todoist-Logo.png
Categories=Network;InstantMessaging;
Terminal=false
