[Desktop Entry]
Version=1.0
Type=Application
Name=Warp
Comment=Warp Terminal
Exec=appimage-run /home/dustin/Documents/appImages/Warp-x86_64.AppImage
Icon=/home/dustin/dev/nix/nixos/home/modules/desktop-files/warp.svg
Categories=Terminal
Terminal=false
