[Desktop Entry]
Name=Reboot to Windows
Comment=Reboot the computer and boot into Windows
Exec=systemctl reboot --boot-loader-entry=auto-windows
Icon=system-reboot
Terminal=false
Type=Application
Categories=System;
