[Desktop Entry]
Type=Application
Name=Gong
StartupWMClass=chrome-us-2318.app.gong.io__home-Default
Comment=Launch Gong
Icon=/home/dustin/.local/share/xdg-desktop-portal/icons/192x192/gong.svg
Exec=chromium --ozone-platform-hint=auto --force-dark-mode --enable-features=WebUIDarkMode --app="https://us-2318.app.gong.io/home" %U
Terminal=false